@import url('../Globalcss.css');

.container {
    width: 100%;
    margin-top: 0;
}

button,
input,
select,
textarea {
  font-family: var(--font-family);
  font-size: 1.5vw;
}

.formStyle {
    margin:auto;
    display:flex;
    width: 100%;
    text-align:center;
    padding: 0.5vw;
}

.searchForm {
    width:47.5%;
}

.locationForm {
    width:47.5%;
}

.searchButtonDiv {
    width:5%;
    text-align:left;
}

.searchButton {
    height:100%;
    border:none;
    background-color:var(--color-turquoise-2);
    color: white;
}

.inputField {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray-2);
    padding: 5px;
}

.leftCorner {
    border-radius: 25px 0px 0px 25px;
}


.rightCorner {
    border-radius: 0px 25px 25px 0px;
}

.buttonOrder {
    height:100%;
    border:none;
    background-color:var(--color-gray-5);
    color:var(--color-black-1);
}

.buttonOrderActive {
    height:100%;
    border-radius: 10px;
    border: 1px solid var(--color-gray-5);
    background-color:var(--color-turquoise-2);
    color:var(--color-gray-5);
}
