@import url('../Globalcss.css');

.jobDiv {
  min-width: 100%;
  background-color: var(--color-gray-6);
  text-align: left;
  margin-bottom: 0.5vh;
  padding: 0.3vw;
  box-sizing: border-box;
  cursor: pointer;
}
.jobDiv:hover {
  background-color: var(--color-gray-6);
  border-left: 0.3vw solid var(--color-turquoise-4);
  margin-left: -0.3vw;
}

.jobHeading {
  font-family: var(--font-family);
  color: var(--color-black-1);
  font-size: 1.3vw;
  font-weight: bold;
}

.jobDetails {
  font-family: var(--font-family);
  color: var(--color-gray-2);
  font-size: 1vw;
}
