:root {
    /* Fonts */
    --font-family: 'Source Sans Pro';
  
    --font-h1: 50px;
    --font-h2: 40px;
    --font-h3: 30px;
    --font-h4: 23px;
  
    --line-height-h1: 67px;
    --line-height-h2: 57px;
    --line-height-h3: 42px;
    --line-height-h4: 24px;
  
    /* Colors */
    --color-black-1: #222222;
    
    --color-gray-1: #333333;
    --color-gray-2: #707070;
    --color-gray-3: #b4b4b5;
    --color-gray-4: #dfe1e5;
    --color-gray-5: #f3f3f3;
    --color-gray-6: #f6fafa;
  
    --color-blue-1: #001e43;
  
    --color-turquoise-1: #045062;
    --color-turquoise-2: #367381;
    --color-truquoise-3: #638f9a;
    --color-turquoise-4: #01a69c;
    --color-turquoise-5: #00c4b1;
    --color-turquoise-6: #b9e9ca;
    --color-turquoise-7: #e5f2f1;
    --color-turquoise-8: #ecfffb;
}

.container {
    max-width: 60%;
    background-color: var(--color-gray-6);
    text-align: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10vh;
    padding:1.3vw;
}

.container p {
    margin: 5px;
    margin-left: 0;
    line-height: 1.6;
}

.heading {
    font-family: var(--font-family);
    font-size: 1.3vw;
    color: var(--color-black-1);
    font-weight: bold;
}

.description {
    font-family: var(--font-family);
    font-size: 1.2vw;
    color: var(--color-black-1)
}

.backToListing {
    cursor:pointer;
    font-size: 1.25vw;
}