@import url('../Globalcss.css');

.paginationActive {
    background-color: var(--color-turquoise-2);
    border: 1px solid var(--color-gray-5);
    color: white;
    border-radius: 10px;
}

.paginationLinks {
    color:var(--color-black-1);
    text-decoration: none;
}