@import url('Globalcss.css');

h1 {
  font-size: var(--font-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-h3);
  line-height: var(--line-height-h3);
}

h1 {
  font-size: var(--font-h4);
  line-height: var(--line-height-h4);
}

.App {
  display: inline-block;
  text-align: center;
  background-color: var(--color-gray-5);
  width: 100%;
}

.App-headerblock {
  min-width: 100%;
  display:flex;
  flex-direction: row;
  align-items: stretch;
}

.App-headerblock-sides {
  flex-basis: 10%;
  flex: 1;
}

.App-headerblock-filter {
  flex-basis: 80%;
  flex: 8;
}


