:root {
  /* Fonts */
  --font-family: 'Source Sans Pro';

  --font-h1: 50px;
  --font-h2: 40px;
  --font-h3: 30px;
  --font-h4: 23px;

  --line-height-h1: 67px;
  --line-height-h2: 57px;
  --line-height-h3: 42px;
  --line-height-h4: 24px;

  /* Colors */
  --color-black-1: #222222;
  
  --color-gray-1: #333333;
  --color-gray-2: #707070;
  --color-gray-3: #b4b4b5;
  --color-gray-4: #dfe1e5;
  --color-gray-5: #f3f3f3;
  --color-gray-6: #f6fafa;

  --color-blue-1: #001e43;

  --color-turquoise-1: #045062;
  --color-turquoise-2: #367381;
  --color-truquoise-3: #638f9a;
  --color-turquoise-4: #01a69c;
  --color-turquoise-5: #00c4b1;
  --color-turquoise-6: #b9e9ca;
  --color-turquoise-7: #e5f2f1;
  --color-turquoise-8: #ecfffb;

  --color-orange-1: #e56e00;
  --color-orange-2: #cb6201;
  
  --color-yellow-1: #ffb700;
  --color-yellow-2: #ffb800;

  --color-green-1: #39a864;
  --color-green-2: #5bd700;
  --color-green-3: #dff7cc;

  --color-red-1: #d2432e;
  --color-red-2: #cc5e4e;

  /* Assets */
  --logo-horizontal: 'https://duunitori.imgix.net/static/web/images/logo-duunitori-rgb-horisontal-inverse.svg?auto=format';
  --logo-vertical: 'https://duunitori.imgix.net/media/images/logos/logo-duunitori-rgb-vertical-mono.png?auto=format';
}

h1 {
  font-size: var(--font-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-h3);
  line-height: var(--line-height-h3);
}

h1 {
  font-size: var(--font-h4);
  line-height: var(--line-height-h4);
}

.App {
  display: inline-block;
  text-align: center;
  background-color: var(--color-gray-5);
  width: 100%;
}

.App-headerblock {
  min-width: 100%;
  display:flex;
  flex-direction: row;
  align-items: stretch;
}

.App-headerblock-sides {
  flex-basis: 10%;
  flex: 1;
}

.duunitori-logo {
  background-image: url('https://duunitori.imgix.net/static/web/images/logo-duunitori-rgb-horisontal-inverse.svg?auto=format');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.App-headerblock-filter {
  flex-basis: 80%;
  flex: 8;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
