@import url('Globalcss.css');

body {
  margin: 0.5vw;
  text-align:center;
  background-color: var(--color-gray-5);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
